body{
    background-color: lightgray;
}

#newUserLink{
    margin-left: 10px;
}

#formContainer{
    margin-top: 50px;
    color: black;
}

#alert, #usernameAlert, #passwordAlert{
    margin-top: 10px;
}

.flashes{
    margin-top: 10px; 
    list-style-type: none
}
