{% extends 'base.html' %}
{% block content %}
  
  <!--Nav bar with add contact heading heading -->
    

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <span class="navbar-brand mb-0 h1">Add New Contact</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href=" {{ url_for('homepage') }}"> Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
          </li>
        </ul>
        <form action="{{ url_for('search') }}" method ="post" class="form-inline my-2 my-lg-0">
          <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button  class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>



    <!--Add contact form-->
    <div id="formContainer" class="container">
        <div class="row justify-content-center">
                <form action="{{ url_for('newContact') }}" method="post">
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputFirstName">First Name</label>
                            <input name="firstName" type="name" class="form-control" id="firstName" placeholder="First Name" required="">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="inputLastName">Last Name</label>
                            <input name="lastName" type="name" class="form-control" id="lastName" placeholder="Last Name" required="">
                          </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail">Email</label>
                            <input name="email"type="email" class="form-control" id="email" placeholder="Email">
                          </div>
                        <div class="form-group">
                          <label for="inputAddress">Address</label>
                          <input name= "address1" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                        </div>
                        <div class="form-group">
                          <label for="inputAddress2">Address 2</label>
                          <input name="address2" type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                        </div>
                        <div class="form-group">
                            <label for="inputPhone">Phone Number</label>
                            <input name="phone" type="text" class="form-control" id="inputPhone" placeholder="XXX-XXX-XXXX">
                          </div>
                        <div class="form-row">
                          <div class="form-group col-md-9">
                            <label for="inputCity">City</label>
                            <input name="city" type="text" class="form-control" id="inputCity">
                          </div>
                          
                          <div class="form-group col-md-3">
                            <label for="inputZip">Zip</label>
                            <input name="zipcode" type="text" class="form-control" id="inputZip">
                          </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Create New Contact</button>
                      </form>
        </div>
    </div>
 {% endblock %}



 <!--
    ******to grab inputs just use request.form('the name of the input grabbing')******

     BACKEND: must worry about two things
        1. navbar
            a. homepage
            b. logout
            c. search
        2. forms and where to go after contact has been added to database (see below)

   1. Navbar: We must handle three things
    a. homepage -> send the user to the homepage.html here a table with all contacts will load
    b. logout ->  logs the user out and sends them back to login.html so,
         return render_template('login.html')

    c. search -> searches what is in input and then sends the info to search.html

   
   
    2.Form: send each input to newContact.html
    after each successful add, we should 
        return render_template('homepage.html')
 -->