{%extends 'base.html' %}
{% block content %} 
    <!--Nav bar with add contact heading heading -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <span class="navbar-brand mb-0 h1">Rolodex</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          </li class="nav-item"> 
            <a class="nav-link" data-toggle="modal" data-target="#add_contact">Add Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input name="search" id="searchContact" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </nav>

    <div class="table-wrapper">
      <table class="table table-dark table-striped table-hover rounded">
          <thead class="rounded">
            <tr>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Phone</th>
              <th scope="col">Email</th>
              <th scope="col" style="width: 50px;"></th>
            </tr>
          </thead>
          <tbody>
            <input type="hidden" value="@item.Id" id="groupId"/>
            {% for contact in contacts|sort(attribute='first_name') %}           
              <tr class="my-data" first="{{contact.first_name}}" last="{{contact.last_name}}" data-id="{{contact.id}}"> 
                <td class="contact-info" data-toggle="modal" data-target="#contact_info{{contact.id}}">{{contact.first_name}}</td>
                <td class="contact-info" data-toggle="modal" data-target="#contact_info{{contact.id}}">{{contact.last_name}}</td>
                <td class="contact-info" data-toggle="modal" data-target="#contact_info{{contact.id}}">{{contact.phone_number}}</td>
                <td class="contact-info" data-toggle="modal" data-target="#contact_info{{contact.id}}">{{contact.email_address}}</td>
                <td> 
                  <button type="button" class="btn btn-danger btn-sm remove-button" data-button="{{contact.id}}">Delete Contact</button>
                </td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>

<div id="add_contact" class="modal hide" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New Contact</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="add_contact_form" action="{{ url_for('add_contact') }}" method="post">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputFirstName">First Name</label>
                    <input name="first_name" type="name" class="form-control" id="firstName" placeholder="First Name" required="">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputLastName">Last Name</label>
                    <input name="last_name" type="name" class="form-control" id="lastName" placeholder="Last Name" required="">
                  </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input name="email"type="email" class="form-control" id="email" placeholder="Email">
                  </div>
                <div class="form-group">
                  <label for="inputAddress">Address</label>
                  <input name= "address1" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="form-group">
                  <label for="inputAddress2">Address 2</label>
                  <input name="address2" type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                </div>
                <div class="form-group">
                    <label for="inputPhone">Phone Number</label>
                    <input name="phone" type="text" class="form-control" id="inputPhone" placeholder="XXX-XXX-XXXX">
                  </div>
                <div class="form-row">
                  <div class="form-group col-md-9">
                    <label for="inputCity">City</label>
                    <input name="city" type="text" class="form-control" id="inputCity">
                  </div>
                  
                  <div class="form-group col-md-3">
                    <label for="inputZip">Zip</label>
                    <input name="zipcode" type="text" class="form-control" id="inputZip">
                  </div>
                </div>
                <button id="add_contact_submit" type="button" data-dismiss="modal" class="btn btn-primary">Add Contact</button>
                <button type="button" class="btn btn-alert" data-dismiss="modal">Cancel</button>
              </form>
         </div>
    </div>
  </div>
</div>

{% for contact in contacts %}
<div id="contact_info{{contact.id}}" class="modal hide" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Contact Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="update-contact-form" action="{{ url_for('update_contact') }}" method="post">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputFirstName">First Name</label>
                    <input name="first_name" type="name" class="form-control" id="firstName" placeholder="First Name" required="" value="{{contact.first_name}}">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputLastName">Last Name</label>
                    <input name="last_name" type="name" class="form-control" id="lastName" placeholder="Last Name" required="" value="{{contact.last_name}}">
                  </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input name="email"type="email" class="form-control" id="email" placeholder="Email" value="{{contact.email_address}}">
                </div>
                <div class="form-group">
                  <label for="inputAddress">Address</label>
                  <input name= "address1" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" value="{{contact.street_address1}}">
                </div>
                <div class="form-group">
                  <label for="inputAddress2">Address 2</label>
                  <input name="address2" type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" value="{{contact.street_address2}}">
                </div>
                <div class="form-group">
                    <label for="inputPhone">Phone Number</label>
                    <input name="phone" type="text" class="form-control" id="inputPhone" placeholder="XXX-XXX-XXXX" value="{{contact.phone_number}}">
                  </div>
                <div class="form-row">
                  <div class="form-group col-md-9">
                    <label for="inputCity">City</label>
                    <input name="city" type="text" class="form-control" id="inputCity" value="{{contact.city}}">
                  </div>
                  
                  <div class="form-group col-md-3">
                    <label for="inputZip">Zip</label>
                    <input name="zipcode" type="text" class="form-control" id="inputZip" value="{{contact.zip_code}}">
                  </div>
                </div>
                <input name="id" type="hidden" value="{{contact.id}}">
                <button type="submit" data-dismiss="modal" class="btn btn-primary update-contact-submit">Update Contact</button>
                <button type="button" class="btn btn-alert" data-dismiss="modal">Cancel</button>
          </form>
       </div>
    </div>
  </div>
</div>
{% endfor %}


{% endblock %}