{%extends 'base.html' %}
{% block content %} 
    <!--Nav bar with add contact heading heading -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <span class="navbar-brand mb-0 h1">Homepage</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          </li class="nav-item"> 
            <a class="nav-link" data-toggle="modal" data-target="#add_contact">Add Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input name="search" id="searchContact" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button  class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <div class="table-wrapper">
      <table class="table table-dark rounded">
          <thead class="rounded">
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Address 1</th>
              <th scope="col">Address 2</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
              <th scope="col">City</th>
              <th scope="col">Zip</th>
            </tr>
          </thead>
          <tbody>
            {% for contact in contacts %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{contact.first_name}}</td>
                <td>{{contact.last_name}}</td>
                <td>{{contact.street_address1}}</td>
                <td>{{contact.street_address2}}</td>
                <td>{{contact.email_address}}</td>
                <td>{{contact.phone_number}}</td>
                <td>{{contact.city}}</td>
                <td>{{contact.zip_code}}</td>
                <td> 
                  <button type="button" class="btn btn-default btn-sm">
                      <span class="glyphicon glyphicon-remove" href="#"></span> Remove 
                  </button>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>

<div id="add_contact" class="modal hide" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="add_contact_form" action="{{ url_for('add_contact') }}" method="post">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputFirstName">First Name</label>
                    <input name="first_name" type="name" class="form-control" id="firstName" placeholder="First Name" required="">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputLastName">Last Name</label>
                    <input name="last_name" type="name" class="form-control" id="lastName" placeholder="Last Name" required="">
                  </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input name="email"type="email" class="form-control" id="email" placeholder="Email">
                  </div>
                <div class="form-group">
                  <label for="inputAddress">Address</label>
                  <input name= "address1" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="form-group">
                  <label for="inputAddress2">Address 2</label>
                  <input name="address2" type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                </div>
                <div class="form-group">
                    <label for="inputPhone">Phone Number</label>
                    <input name="phone" type="text" class="form-control" id="inputPhone" placeholder="XXX-XXX-XXXX">
                  </div>
                <div class="form-row">
                  <div class="form-group col-md-9">
                    <label for="inputCity">City</label>
                    <input name="city" type="text" class="form-control" id="inputCity">
                  </div>
                  
                  <div class="form-group col-md-3">
                    <label for="inputZip">Zip</label>
                    <input name="zipcode" type="text" class="form-control" id="inputZip">
                  </div>
                </div>
                <button id="add_contact_submit" type="button" data-dismiss="modal" class="btn btn-primary">Add Contact</button>
                <button type="button" class="btn btn-alert" data-dismiss="modal">Cancel</button>
              </form>
         </div>
    </div>
  </div>
</div>
{% endblock %}
<!--
    ******to grab inputs just use request.form('the name of the input grabbing')******

     BACKEND: must worry about two things
        1. navbar
            a. logout
            b. search
        2. table/ using jinja for loop

   1. Navbar: We must handle three things
    a. logout ->  logs the user out and sends them back to login.html so,
         return render_template('login.html')

    b. search -> searches what is in input and then sends the info to search.html

  
  
  
    2. We are using a for loop for the table
    a. get all results for the signed in user
            contacts = contact.query.all() 

    b.send the contacts to the template and let the for loop do the rest of the work
             return render_template("homepage.html", contacts=contacts)
   
    
 -->