{%extends 'base.html' %}
{% block content %}
    <!--Nav bar with project name-->
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">Roledex Login</span>
    </nav>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <!--Username and password form-->
    <div id="formContainer" class="container content">
        <div class="row justify-content-center">
            <form id="loginForm" action="{{ url_for('login') }}" method="post">
                <div class="form-group">
	                <label for="inputUserName">Username</label>
	                <input name="username" type="username" class="form-control" id="inputUserName" aria-describedby="userNAmeHelp" placeholder="Enter Username" required="" >
                </div>
                <div class="form-group">
	                <label for="inputPassword">Password</label>
	                <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password" required="">
                </div>
                <button id="loginButton" type="submit" class="btn btn-primary btn-sm login-submit">Login</button>
                <a id="newUserLink" href="{{ url_for('register') }}" >Create New User</a>
              
                <!--if loginError is true than show an alert using jquery/ajax/loginError.html-->
               <div id="alertDiv" style="margin-top: 10px"></div>
            </form>
        </div>
    </div>
{% endblock %}


<!--
   *****to grab inputs just use request.form('the name of the input grabbing')*****


    BACKEND: must worry about two things
        1. forms
        2. alerts for logging in(see below)
        3. deactivation alerts for the newUser.html (see below)



    1. Form: send each input to login.html
   2.  after each successful login we should 
        return render_template("homepage.html")

        if we are unsuceesful in logging in display loginError alert
        return render_template("login.html", loginError=true)


    3. Create new user link:
    call it like this so the alerts don't show up for usernameTaken and passwordMatch
        return render_template("newUser.html", userNameTaken=false, passwordMatch=false)
-->
