{% extends 'base.html' %}
{% block content %}
	<div class="content">
		<div class="login-form">
			<form action="{{ url_for('register') }}" method="post" class="form-signin">
		      <h1 class="h3 mb-3 font-weight-normal">Register for Rolodex</h1>
		      <label for="Username" class="sr-only">Username</label>
		      <input name="username" id="Username" class="form-control" placeholder="Username" required="" autofocus="">
		      <label for="Password" class="sr-only">Password</label>
		      <input type="password" name="password" id="Password" class="form-control" placeholder="Password" required="">
		      <button class="btn btn-lg btn-primary btn-block login-submit" type="submit" >Register</button>
			</form>
		</div>
	</div>
{% endblock %}